*.fea
*.npy
*.sav
nltk_data/
catboost_info/
comments/
final_model_lightgbm/*.sav
final_model_lightgbm/*.csv
final_model_lightgbm/*.fea
noun_sentences/
.local/
.ssh/
.cache/
.conda/
.config/
.flair/
.kaggle/
.keras/
.pip/
__pycache__/
content/
ngrams/
gensim-data/
.ipynb_checkpoints/
